apiVersion: apps/v1
kind: Deployment
metadata:
  name: thumbnailer
  labels:
    app: thumbnailer
spec:
  replicas: 3
  selector:
    matchLabels:
      app: thumbnailer
  template:
    metadata:
      labels:
        app: thumbnailer
    spec:
      containers:
        - name: thumbnailer-nginx
          image: zooniverse/thumbnailer:__IMAGE_TAG__
          resources:
            requests:
              memory: "150Mi"
              cpu: "150m"
            limits:
              memory: "300Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
